# Android Studio / IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# Kotlin
.kotlin/
.kotlinc/
kapt/
ksp/

# Native build
.externalNativeBuild/
.cxx/

# APK / AAB
*.apk
*.aab

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Android
captures/

# Firebase
google-services.json